@import "imports";

body.organization-memberships.edit main {
  .user-name {
    color: lighten($base-font-color, 25%);
    display: block;
    margin-bottom: 1em;
  }

  .user-email {
    color: lighten($base-font-color, 25%);
    display: block;
    margin-bottom: 1em;
  }
}
