@import "imports";

body.user-account.stripe-cards.index {
  th:first-of-type,
  td:first-of-type {
    text-align: center;
  }

  td:first-of-type {
    padding: 0;

    label {
      display: block;
      padding: 1em;
      width: 100%;
    }
  }

  tfoot td {
    background-color: transparent;
    border: none;
    padding: 1em 0 0 0;

    form {
      margin: 0;
      padding: 0;
    }
  }
}
