@import "imports";

.button,
button,
input[type="submit"] {
  @include appearance(none);
  background-color: $base-accent-color;
  border: 1px solid $base-accent-color;
  border-radius: $base-border-radius;
  box-shadow: 0 1px 3px 0 rgba(#000, 0.2);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  outline: none;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  @include transition(all 0.1s ease);

  &:hover {
    background-color: lighten($base-accent-color, 2%);
    border-color: lighten($base-accent-color, 2%);
    box-shadow: 0 1px 3px 0 rgba(#000, 0.2), 0 1px 3px 1px rgba(lighten($base-accent-color, 20%), 0.5);
    color: #fff;
  }

  &:active {
    background-color: $base-accent-color;
    border-color: $base-accent-color;
    box-shadow: none;
    color: #fff;
  }
}
