<div class="subscription-plan">
  <h3 class="name">
    <%= subscription_plan.name %>
  </h3>
  <h4 class="price">
    <%= number_to_currency(subscription_plan.price) %> /
    <%= subscription_plan.interval_count > 1 ? pluralize(subscription_plan.interval_count, subscription_plan.interval) : subscription_plan.interval %>
  </h4>

  <% if subscription_plan.trial_period_days.to_i > 0 %>
    <div class="trial">
      <%= "#{subscription_plan.trial_period_days} Day Free Trial" %>
    </div>
  <% end %>
</div>
