@import "imports";

body.home-layout footer {
  @include clearfix;
  border-top: 1px solid $base-border-color;

  .outer-container {
    @include outer-container;
  }

  .branding {
    display: inline-block;
    float: left;

    a {
      color: #aaa;
      display: inline-block;
      font-size: 16px;
      padding: 10px;
      text-decoration: none;

      &:hover {
        color: #888;
      }
    }
  }

  nav {
    float: right;
  }

  ul {
    display: block;
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;

    a {
      color: #aaa;
      display: inline-block;
      font-size: 14px;
      padding: 10px;
      text-decoration: none;

      &:hover {
        color: #888;
      }
    }
  }
}
