@import "imports";

$header-background-color: #323232;
$header-link-color: lighten($base-link-color, 15%);
$user-link-color: adjust-hue($header-link-color, 80deg);

body.home-layout header {
  @include clearfix;
  background-color: $header-background-color;
  color: #fff;

  .outer-container {
    @include outer-container;
  }

  .branding {
    display: inline-block;
    float: left;
    font-size: 26px;
    font-weight: bold;

    a {
      color: $header-link-color;
      display: inline-block;
      padding: 10px 15px 8px 10px;
      text-decoration: none;

      &:hover {
        color: lighten($header-link-color, 12%);
      }
    }
  }

  nav {
    float: right;
  }

  ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;

    a {
      color: $header-link-color;
      display: inline-block;
      font-weight: bold;
      padding: 18px;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;

      &:hover {
        color: lighten($header-link-color, 12%);
      }
    }
  }
}

body.home-layout header li.divider {
  margin: 0 14px;
  position: relative;

  &:after {
    content: " ";
    display: block;
    height: 30px;
    position: absolute;
    top: -20px;
    width: 1px;
    @include radial-gradient(lighten($header-background-color, 30%), darken($header-background-color, 10%));
  }
}

body.home-layout header li.new-session {
  a {
    color: $user-link-color;

    &:hover {
      color: lighten($user-link-color, 12%);
    }
  }

  &:after {
    color: darken(invert($header-background-color), 15%);
    content: "OR";
    display: inline-block;
    font-size: 10px;
    margin: 0px 14px 0 4px;
    position: relative;
    top: -2px;
  }
}

body.home-layout header li.new-registration a {
  background-color: $user-link-color;
  border-radius: $base-border-radius;
  color: #fff;
  margin: 9px 10px 15px;
  padding: 3px 8px 5px;

  &:hover {
    background-color: lighten($user-link-color, 10%);
  }
}

body.home-layout header li.user {
  span {
    margin: 0 6px;
  }

  a {
    color: $user-link-color;
    padding: 18px 6px;

    &:hover {
      color: lighten($user-link-color, 12%);
    }
  }
}
