@import "imports";

body.home-layout .title {
  background-color: $base-body-color;
  border-bottom: 1px solid $base-border-color;
  color: $header-background-color;
  overflow: hidden;
  position: relative;

  &:after {
    box-shadow: inset 0 1px 5px rgba(#000, 0.4);
    content: " ";
    height: 110%;
    left: -10%;
    position: absolute;
    top: 0;
    width: 120%;
  }

  h1 {
    @include outer-container;
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 7px;
    margin: 0 auto;
    padding: 20px 10px;
    text-shadow: 2px 2px 0px #f8f8f8;
    text-transform: uppercase;
  }
}

body.home-layout {
  #error_explanation,
  .flash-alert,
  .flash-notice {
    & + .title {
      box-shadow: none;
    }

    & + main > .title:first-child {
      box-shadow: none;
    }
  }
}
