<div class="title">
  <h1>Organizations</h1>
</div>

<div class="outer-container">
  <%= render partial: "user_account/sidebar" %>

  <div class="page">
    <% if @organization_memberships.count > 0 %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Manage</th>
          </tr>
        </thead>
        <tbody>
          <% @organization_memberships.each do |membership| %>
            <tr>
              <td><%= membership.organization.name %></td>
              <td><%= membership.role.titleize %></td>
              <td>Transfer/Leave</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>
        Create an organization so you can include other users under
        a single account.
      </p>
    <% end %>
  </div>
</div>
